.Bordernow{
  border: 2px solid chartreuse;
}
.div1{
  height: 100px;
  width: 100px;


}
.Divclass{
  border: 2px solid midnightblue;
  background-color: orangered;

}
#div1{
  height: 100px;
  width: 100px;
background-color: blueviolet;

}
li{
  color: orange;
}
